



.dropdown-menu {
            background-color: #3A3A3A;
        }

            .dropdown-menu:hover {
                background-color: #3A3A3A;
            }
.dropdown :hover {
background :#FFF;
}
            .dropdown-menu li a {
                color: #FFF;
            }

                .dropdown-menu li a:hover {
                    background-color: #E5191D;
                }
        /*background red color on hover: color:#E5191D;*/
        .mainTable {
            width: 100%;
        }
        .mainTable thead {
            background-color: #BFBFBE;
            color: #FFF; /* font-weight: bold; */
            font-size: medium;
        }
        .mainTable tbody {
            background-color: #FFF;
        }
        .mainTable tbody :hover {
            background-color: #FBDDDE;
            cursor: pointer;
        }
        .mainTable tbody tr {
            border: 2px solid;
            height: 30px;
            border-color: #EFEFEF;
        }
        .mainTable tbody tr th {
            border: 2px solid;
            border-color: #EFEFEF;
            text-align: center;
            width: 3%;
        }
        .mainTable tbody tr th:hover {
            background: #E5191D;
        }
        .mainTable tbody tr th div :hover {
            background:#E5191D;
            }
            .mainTable tbody tr th div img :hover {
            background:#E5191D;
            }
        .checkboxTd {
            border: 2px solid;
            border-color: #EFEFEF;
            text-align: center;
            width: 3%;
        }
        .ChangeModetd {
            border: 2px solid;
            border-color: #EFEFEF;
            text-align: center;
            width: 3%;
        }